.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
  border-radius: 15px;
}

.bi-footer-cta-content {
  position: relative;
  z-index: 2;
}
body{
    background-color: #1b1c35;
    color: rgba(255, 255, 255, 0.7);
}

/*  */


.service-matter canvas {
  display: none;
}

.service-matter canvas:first-of-type {
  display: block; /* or flex/grid depending on your layout */
}

/* styles/portfolio.css */

.bi-portfolio-img-text-3 .portfolio-img {
  height: 450px;
  overflow: hidden;
}

.bi-portfolio-img-text-3 .portfolio-img .img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center top;
  transition: object-position 3.5s ease;
}

.bi-portfolio-img-text-3 .portfolio-img .img:hover {
  object-position: center bottom;
  transition: object-position 3.5s ease;
}

.bi-portfolio-img-text-3 {
  position: static !important;
}

.bi-portfolio-img-text-3:before {
  position: static;
  display: none;
}

.hidden {
  display: none !important;
}

#readMoreWrapper {
  margin-top: 30px;
}


       .bi-slider-section-4 {
  background-image: url('/assets/images/project/Capture.PNG'); /* Correct path for Next.js public folder */
  background-size: cover;
  background-position: center;
}

/* Mobile specific styles: hide the background image */
@media only screen and (max-width: 600px) {
  .bi-slider-section-4 {
    background-image: none; /* Remove background image on mobile */
  }
}


@media only screen and (min-width: 1100px) and (max-width: 1399px) {
.bi-main-slider-item-4 .bi-main-slider-text h1{
  font-size:129px!important;margin-left:7%;
}
}


@media only screen and (max-width: 999px) {
  .bi-main-slider-item-4 .bi-main-slider-text h1{
    width: 100%;
    position: relative;
    top:-20px;
    transform: translate(0px, 0px)!important;
}
}